#topheader,
form {
	background-color: rgba(var(--bs-dark-rgb), 0.85) !important;
}

#usernameInput {
	text-transform: lowercase;
}

body {
	font-family: Arial, Helvetica, sans-serif !important;
	background-image: url("https://localhost:8080/images/niki_emmert-dirt-road-7273240.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.filterWhite {
	filter: invert(99%) sepia(5%) saturate(113%) hue-rotate(115deg)
		brightness(113%) contrast(100%);
}

main {
	color: rgb(var(--bs-light-rgb)) !important;
}

#displayNameInstr,
#usernameInstr {
	color: rgb(var(--bs-light-rgb));
	opacity: 0.8;
}

@media (min-width: 0px) {
	form {
		width: 70%;
	}
}

@media (min-width: 750px) {
	form {
		width: 50%;
	}
}

@media (min-width: 992px) {
	form {
		width: 30%;
	}
}
