body{
    background-color:#0F172A;
    margin: 0%;
    padding: 0%;
}   
#head{
    color: aliceblue;
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    text-underline-offset:7px;
    padding-top: 0;
}
#head2{
    color: aliceblue;
    font-family:italic;
    text-align: center;
}
.mid{
    color: #94A3B8;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.upper{
    display: flex;
    gap: 50px;
    flex-direction: row;
}
#storytitle{
    font-size: 28px;
}
#titlewrite{
    height: 40px;
    width: 90%;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 7px;
}
.mid2{
    color: #94A3B8;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 150px;
    margin-top: 40px ;
}
#discrip{
    font-size: 28px;
}
#discrip2{
    height: 150px;
    width: 85%;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 7px;
}
.mid3{
    color: #94A3B8;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 40px ;
}
#content{
    font-size: 28px;
}
#content2{
    height: 200px;
    width: 90%;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 7px;   
}
.visi{
    color: #94A3B8;
    padding-left: 500px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 0 ;
}
#visi2{
    font-size: 25px;
}
.buttons button{
    width: 120px;
    height: 45px;
    margin-right: 15px;
    border-radius: 8px;
    border: 1px solid #F8FAFC;
    background: #CBD5E1;
    color: black;
    font-size: 16px;
    cursor: pointer;
    /* transition: 0.2s; */
}
.buttons button.active{
    background: #7C3AED;
    border-color: #7C3AED;
    color: #F8FAFC;
}
.foot{
    display: flex;
    flex-direction: row;
}
.foot button{
    height: 50px;
    width: 200px;
    border-radius: 25px;
    margin-left: 25%;
    cursor: pointer;
    font-size: x-large;
    margin-top: 20px;
}
#create{
    font-size: 25px;
}
#edit:hover{
    background: #7C3AED;
    border-color: #7C3AED;
    color: #F8FAFC;
}
#delete:hover{
    background: red;
    border-color: black;
    color: #F8FAFC;
}