{{define "storyCard"}}
    <div class="story-card" id="{{.StoryID}}">
        <div class="card-body">
            <div class="card-title">{{.StoryName}}</div>
            {{$vis := "invalid"}}
            {{if eq .Visibility 1}}
                {{$vis = "private"}}
            {{else if eq .Visibility 2}}
                {{$vis = "public"}}
            {{end}}
            <div class="card-visibility-badge" data-filter="{{$vis}}">
                {{$vis}}
            </div>

            <div class="card-description">{{.Description}}</div>

            <div class="card-meta">
                <div class="user-tag">@Guest</div>
                <div class="card-meta-left">
                    <span class="card-meta-item">Today</span>
                    <span class="card-meta-item">0 scenes</span>
                </div>
                <div class="card-actions">
                    <button
                            class="card-action-btn edit-btn"
                            title="Edit"
                    >
                        ✏️
                    </button>
                    <button
                            class="card-action-btn delete card-delete-btn"
                            title="Delete"
                    >
                        🗑️
                    </button>
                </div>
            </div>
        </div>
    </div>
{{end}}