{{define "userAvatarTmpl"}}
    {{if .User.UserID}}
        <div class="profile-avatar" id="profileAvatar">&#1280{{.PFP}}</div>

        <span class="profile-name" id="usernameBtn">{{printf .User.Username}}</span>
        <span class="profile-chevron">▾</span>

        <div class="profile-dropdown dropdown" id="profileDropdown">
            <div class="dropdown-header">
                {{.User.Username}}
            </div>

            <a href="/user/mystories" class="dropdown-item" id="profileLink">
                My Profile
            </a>

            <div class="dropdown-divider"></div>
            <a href="/auth/logout" class="dropdown-item logout" id="logoutBtn">
                Logout
            </a>
        </div>
    {{else}}
        <div class="log-in-btn" id="logInBtn">Log In</div>
    {{end}}
{{end}}