#navbar{
    display: flex;
    align-items: center;
    background-color:rgba(25,20,18,.55);
    padding: 10px 20px;
    backdrop-filter: blur(12px);
    object-fit: contain;
    font-family: "Cinzel", serif;
    margin: 0%;
    position:sticky;
    top: 0;
    z-index: 2;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#quote{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* width: 100%; */
     white-space: nowrap; 
    font-style: italic;
    font-size: x-large;
}
#footbox{
    display: flex;
    padding: 10px 20px;
    align-items: center;
}
#foot a{
   color: aliceblue;
}
#foot a:hover{
    color: black;
}
#foot{
    margin-left: 30%;
    justify-content: space-evenly;
    display: flex;
    gap: 30px;
}
body{
    margin: 0%;
    padding: 0%;
}
#content {
    height: 700px;
    width: 100%;
    /* margin: 0%; */
    position: relative;
    overflow: hidden;
}
.divider{
    height: 2px;
    background-color: #d4a15a;
}
#content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    /* position: relative; */
}
#logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
#tab a{
    color:whitesmoke;
    /* top: 55%; */
}
#tab {
    flex: 1;
    justify-content: space-evenly;
    display: flex;
}
button{
    color:whitesmoke;
    background-color:rgb(83, 60, 60);
    border-radius: 20px;
    padding: 7px 14px;
    font-size: 10px;
}
button:hover{
    color:black;
}
.buttons{
    position: absolute;
    bottom: 38%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: flex;
    gap: 56px;
} 
.buttonstry{
    padding: 15px 30px;
    font-size: 12px;
    border-radius: 15px;
    font-style: italic ;
    /* color: black; */
    border-color: aliceblue;
    box-shadow: 2px 2px 4px black;
    background-color:#6F7F6A;/*E8DDC7 */
} 
#tab a:hover{
    color: black;
    border-bottom: 2px solid black;
}
#footbox{
    height: 80px;
    bottom: 0%;
    background-color:rgb(43, 42, 42);
}